<th:block th:include="/common/top"></th:block>  
<th:block th:include="/common/navbar"></th:block>  
<div sec:authorize="hasAuthority('trainingstaff')">
<th:block th:include="/common/sidebartrainingstaff"></th:block>

<div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-display1 icon-gradient bg-premium-dark">
                                        </i>
                                    </div>
                                    <div>Update Course
                                        <div class="page-title-subheading">Update Course's Information.
                                        </div>
                                    </div>
                                </div>   
                               </div>
                        </div>          
                        <div class="tab-content">
                            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Update Course</h5>
                                            
                                                <form th:action="@{/updateCourse}" method="POST" th:object="${course}">
                                                <div class="position-relative form-group"><label for="exampleEmail" class="">ID</label>
                                                    	<input th:field="*{courseID}" type="text" class="form-control" readonly="true">
                                                    </div>
                                                    <div class="position-relative form-group"><label>Name</label>
                                                    	<input th:field="*{courseName}" placeholder="Input Name" type="text" class="form-control" required readonly="true">
                                                    </div>
                                                    
                                                    <div class="form-group blu-margin" >
													    <select class="form-control" th:field="${course.category.categoryID}"  id="dropCategory">
													    <option value="0">Select Category</option>
													    <option th:each="category : ${listCategory}" th:value="${category.categoryID}" th:text="${category.categoryName}"></option>
													    </select>
													</div>
                                                    
                                                    <div class="position-relative form-group"><label>Description</label>
                                                    	<input th:field="${course.Description}" placeholder="Input Description" type="text" class="form-control" required>
                                                    </div>
                                                    	
                                                    	
                                                    <input type="submit" value="Submit" class="mt-1 btn btn-primary">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
<script src="js/main.js"></script>
  <th:block th:include="/common/footer"></th:block>  